<footer class="footer">
    <div class="inner-content footer-content flex">

        <div class="personal-details">
            <h1>FilmyHub.com</h1>
            <div class="social-media-icon flex">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-discord"></i>
            </div>
        </div>
        <ul>
            <li class="fw-6">The Basic</li>
            <li><a href="#">About FilmyHub</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Support Forms</a></li>
        </ul>

        <ul>
            <li class="fw-6">Legal</li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Report</a></li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="../script.js"></script>
</body>

</html>