<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmyHub</title>
    <script src="https://kit.fontawesome.com/7eb91cefb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <nav>
        <div class="navbar flex">
            <div class="nav-left inner-content">

                <ul class="flex nav-flex">

                    <li class="nav-item"><a href="" class="nav-link">Movie</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Tv show</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Peope</a></li>

                </ul>
            </div>

            <div class="nav-right">

                <ul class="flex nav-flex inner-content">

                    <li class="nav-item">
                        <i class="fa-solid fa-bell" id="notification"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa-solid fa-user" id="profile"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

