<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmyHub</title>
    <link rel="stylesheet" type="text/css"  href="../style.css">
    <script src="https://kit.fontawesome.com/7eb91cefb3.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

</head>

<body>

    <nav>
        <i class="fa-solid fa-bars" id="menu-btn"></i>
        <a href="/signup"><i class="fa-solid fa-user" id="user-btn"></i></a>
        <div class="navbar flex">
            <div class="nav-left inner-content">

                <ul class="flex nav-flex">

                    <li class="nav-item" id="home-btn"><a href="/" class="nav-link"><i class="fa-solid fa-house"></i></a></li>
                    <i class="fa-solid fa-xmark" class="nav-link" id="close-btn"></i>
                    <li class="nav-item"><a href="/movie" class="nav-link">Movie</a></li>
                    <li class="nav-item"><a href="/tv-show" class="nav-link">Tv show</a></li>
                    <li class="nav-item"><a href="/cast" class="nav-link">People</a></li>

                </ul>
            </div>

            <div class="nav-right">

                <ul class="flex nav-flex inner-content">

                    
                     <li class="nav-item">
                         <form action="/search" method="get">
                             <input type="text" name="query" class="search-text" placeholder="Search here...">
                             <button type="submit" class="search-btn nav-item"><i class="fa-solid fa-magnifying-glass" id="search-icon"></i></button>
                         </form>
                         
                     </li>
                    <li class="nav-item">
                        <a href="/signup"><i class="fa-solid fa-user" id="profile"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

